<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Tarefa</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Tem certeza que deseja excluir a tarefa?</h1>
        </header>
        <p><strong>Descrição:</strong> {{ tarefa.tar_descricao }}</p>
        <p><strong>Status:</strong> {{ tarefa.tar_status }}</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit">Sim, Excluir</button>
            <a href="{% url 'home' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>
