<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Usuário</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="usu_home">Home:</label>
                {{ form.usu_home }}
            </div>
            <div class="form-group">
                <label for="usu_email">Email:</label>
                {{ form.usu_email }}
            </div>
            <div class="form-group">
                <label for="usu_senha">Senha:</label>
                {{ form.usu_senha }}
            </div>
            <div class="form-group">
                <label>Tipo de Usuário:</label>
                {{ form.tipo_usuario }}
            </div>
            <div class="form-group" id="escola-field" style="display: none;">
                <label for="esc_name">Nome da Escola:</label>
                {{ form.esc_name }}
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>