<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<form method="post">
    {% csrf_token %}

    <p>
        <label for="{{ form.usu_nome.id_for_label }}">Nome Completo:</label>
        {{ form.usu_home }}
    </p>

    <p>
        <label for="{{ form.usu_email.id_for_label }}">Email:</label>
        {{ form.usu_email }}
    </p>

    <p>
        <label for="{{ form.usu_senha.id_for_label }}">Senha:</label>
        {{ form.usu_senha }}
    </p>

    <p>
        <label for="{{ form.usu_tipo.id_for_label }}">Escolha de Cadastro:</label>
        {{ form.usu_tipo }}
    </p>

    <button type="submit">Cadastrar</button>
</form>

</body>
</html>
