<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Aluno</title>
</head>
<body>
    <h1>Registrar Novo Aluno</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <label for="sala">Sala:</label>
        <select name="sala" id="sala" required>
            <option value="" disabled selected>Selecione uma sala</option>
            {% for sala in salas %}
                <option value="{{ sala.id }}">{{ sala.sal_name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="{% url 'alunos_page' %}">Voltar</a>
</body>
</html>
